<h1 style="padding-top:10%">Ooooops!</h1>
<h4 style="text-align: center">404 - PAGE NOT FOUND</h4>
<p style="text-align: center">The page you are looking for might have been removed, <br>had its' name changed or is
    temporarily disabled.</p>

<div id="gohomeButton">
    <a href="/posts" class="btn btn-primary" id="gohome">Go to homepage!</a>
</div>