<div id="aboutContainer">
    <h1 style="padding-top:50px">About</h1>

    <p class="verticalAlign" id="aboutText">This website is for trading virtual items in exchange of other virtual items
        or any other
        currency.</p>
</div>