<div class="overlay">
    <div class="navbar">
        <p>Twitter</p>
        <p>MRKT</p>
        <p>Instagram</p>
    </div>
    <div id="content">
        <h1 id="landingTitle">YOUR FAVORITE SOURCE OF <br>GOOD VIRTUAL ITEM DEALS</h1>
        <hr>
        <h2>
            Trade with anyone across the world, we cover all games or other virtual platforms. <br>Just create an
            account to
            get
            started!
        </h2>
        <a href="/login"><button type="submit" class="btn">CONTINUE</button></a>
    </div>

</div>