<div class="d-flex justify-content-center ">
    <div id="container">
        <form action="/login" method="post" class="formStyle">
            <h3>Login</h3>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name="username">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                </div>
                <input type="password" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="/register"><button type="button" class="btn btn-secondary">Register</button></a>

            {{#if error}}
            <p>{{error}}</p>
            {{/if}}
        </form>
    </div>
</div>